[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
	name = akeeee
	email = ake@nuxos.asia

[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
	editor = vim

[pull]
	rebase = false

[push]
	autoSetupRemote = true

[alias]
	st = status
	co = checkout
	br = branch
	lg = log --oneline --graph --decorate --all
